.lgnBtn{
    font-size: 16px;
    align-content: center;
    justify-content: center;
    padding-left: 60px;
    margin-top: 20px;
}

.regBtn{
    font-size: 16px;
    align-content: center;
    justify-content: center;
    padding-left: 50px;
    margin-top: 20px;
}

.card{
    font-size:'16px';
   
    
}


