.title{
    font-size: 20px;
    font-weight: bold;
    color: brown;
    margin-top: 20px;
   
    
}

.title1{
    font-size: 20px;
    font-weight: bold;
    color: brown;
    
    
}

IonContent{
    background-color: #848484;
}


.pretext{
    font-size:15px;
    font-style: italic;
    color: #848484;
    margin-top: 34px;
    vertical-align: middle;
    margin-left: 20px;
    

}

.seemore{
    color:#848484;
    font-size: 15px;
    margin-left: 140px; 
    margin-top: -20px;
    cursor: pointer;
}



IonContent{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container,
.scroll{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
   
}

.container{
    overflow: hidden;
}

.scroll{
    padding-right: 20px;
    right: -20px;
    overflow-x: scroll;
}